<!--start footer-->
<section id="footer">
    <div>
        <ul class="social-icons">
            <li><strong>Find me at: </strong></li>
            <li><a href="https://twitter.com/jcoleson"><i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i>Twitter</a></li>
            <li><a href="https://facebook.com/Jared.Coleson"><i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i>Facebook</a></li>
            <li><a href="http://github.com/jcoleson"><i class="fa fa-fw fa-github" aria-hidden="true"></i>GitHub</a></li>
            <li><a href="https://stackoverflow.com/cv/jaredcoleson"><i class="fab fa-stack-overflow"></i>Stack Overflow</a></li>
            <li><a href="https://www.linkedin.com/in/jared-coleson/"><i class="fab fa-linkedin"></i>LinkedIn</a></li>
        </ul>
    </div>

    <div class="copyright">&copy; 2021 Jared Coleson</div>
</section>
<!--end footer-->