<!--start header-->
<header>    
    <ul class="nav">
        <li><a href="jared"> <i class="far fa-user"></i> Jared</a></li>
        <li><a href="danielle"> <i class="far fa-user"></i> Danielle</a></li>
    </ul>
</header>
<!--end header-->