<!--start head-->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0" />
<title>@Model.GetString("Title")</title>
@Html.Partial("_partials/_favicons")

<!--stylesheets-->
<link rel="stylesheet" href="assets/css/styles.css">
<link rel="stylesheet" href="assets/css/customstyles.css">
<!--head scripts -->
<script src="https://kit.fontawesome.com/96d16fe260.js" crossorigin="anonymous"></script>
<!--end head-->