Title: Danielle Coleson - Artist
layout: _layout
---
<section id="aboutme">
    <div  id="aboutme-content">
        <div id="aboutme-main">
            <div class="findme">
                <div>
                    <h1>Danielle Coleson</h1>
                </div>
                <p>Artist</p>
                <strong>Find me</strong>
                <ul class="social-icons">
                    <li><a href="https://www.instagram.com/pineywoodsmystic/"><i class="fab fa-instagram"></i>Instagram</a></li>
                    <li><a href="https://www.facebook.com/PineyWoodsMystic"><i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i>Facebook</a></li>
                </ul>
            
            </div>
        </div>
    </div>
</section>
<section >
    <div class="cardcontainer">
        <div class="card">
            <h3>Piney Woods Mystic Menagerie</h3>
            <p>Shop for <a href="//www.pineywoodsmystic.com/">Art, jewelry, apparel, home decor, crystals, and natural specimens</a> at my unique store.</p>
            <div class="visual"><img src="../assets/images/pwm-logo.jpg" /> </div>
        </div>
        <div class="card">
            <h3>Fredonia Graphics Customer Screen Printing</h3>
            <p>Art director at <a href="//fredoniagraphics.com/">the first and most experienced screen printing company in Nacogdoches, TX</a>. </p>
            <div class="visual"> <img src="../assets/images/fredoniagraphics.jpg" /> </div>
        </div>
    </div>
</section>

