Title: Jared Coleson - Software Developer
---
<section id="aboutme">
    <div  id="aboutme-content">
        <div id="aboutme-main">
            <div class="findme">
                <div>
                    <h1>Jared Coleson</h1>
                </div>
                <p>Software Developer</p>
                <strong>Find me</strong>
                <ul class="social-icons">
                    <li><a href="https://www.linkedin.com/in/jared-coleson/"><i class="fab fa-linkedin"></i>LinkedIn</a></li>
                    <li><a href="https://stackoverflow.com/cv/jaredcoleson"><i class="fab fa-stack-overflow"></i>Stack Overflow</a></li>
                    <li><a href="http://github.com/jcoleson"><i class="fa fa-fw fa-github" aria-hidden="true"></i>GitHub</a></li>
                    <li><a href="https://twitter.com/jcoleson"><i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i>Twitter</a></li>
                    <li><a href="https://facebook.com/Jared.Coleson"><i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i>Facebook</a></li>
                </ul>
            
                <img class="rounded-image mobile-only" src="../assets/images/jared-coleson-profile.jpg" alt="Jared Coleson Profile Picture" width="500px"/>
            
            </div>
        </div>
    </div>
</section>
<section >
    <h2>Affiliated Sites</h2>
    <div class="cardcontainer">
        <div class="card">
            <h3>Elliott Electric Supply</h3>
            <p>ElliottElectric.com helps electricians and contractors find <a href="//www.elliottelectric.com/p/">affordable high quality electrical supplies</a>.</p>
            <div class="visual"><img src="http://www.elliottelectric.com/Images/Logos/EES_medium.png" /> </div>
        </div>
        <div class="card">
            <h3>NacSpace</h3>
            <p>I work out of NacSpace, a <a href="//www.nacspace.com/texas-data-centers-tx-colocation-rack-space-dedicated-servers/" >data center</a> and <a href="//www.nacspace.com/office-space-for-rent-nacogdoches-tx/">high tech coworking space in Nacogdoches, TX</a>. </p>
            <div class="visual"> <img src="//www.nacspace.com/wp-content/uploads/headerLogo_md-1.jpg" /> </div>
        </div>
    </div>
</section>

