header {
    display: grid;    
    grid-template-columns: min-content auto max-content;
    grid-template-areas: "logo nav user";

    gap: 0.5rem;

    padding: 0.5rem;
    width: 100%;
    //min-width: 750px;
    vertical-align: middle;

    > * {
      align-self: center;
    }

    .user {
      justify-self: end;
      grid-area: user;
      display: grid;
    }

    .nav {
        justify-content: left;
        grid-area: nav;
    
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: 0.5rem;
        place-self: left;
    
        height: 100%;
    
        list-style: none;
        
        grid-area: nav;

        > li {
          display: inline-block;
        }
    }
    
    .logo {
        grid-area: logo;
      }

    a {    
        align-items: center; 
    
        padding: 0.5rem 1rem;    
        text-decoration: none;

    }
}