.rounded-image {
  border-radius: 50%;
}
header {
  background-color: black;
  color: white;
}
footer {
  background-color: black;
  color: #6b6b6b;
}
body {
  background: #f5f5f5;
  color: white;
}
header a {
  color: white;
  text-decoration: none;
}
header a .far {
  color: #e6e6e6;
}
header a:hover {
  text-decoration: underline;
}
a {
  color: white;
}
a:hover {
  color: #d9d9d9;
}
body {
  display: grid;
  margin: 0;
  height: 100vh;
  background-color: black;
  max-width: 1500px;
}
header {
  padding: 1rem 1rem 1rem 0rem;
  height: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}
header ul {
  margin: 0;
  padding: 0;
}
header ul li,
header ul a {
  margin-bottom: 0;
  padding-bottom: 0;
}
main {
  display: grid;
}
footer {
  padding: 1rem;
  text-align: center;
}
section {
  padding: 1rem;
  background-color: black;
  color: white;
}
.cardcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem;
}
.cardcontainer .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  text-align: center;
  border-radius: 0.5em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  background-color: #1a1a1a;
}
.cardcontainer .card p {
  color: #6b6b6b;
}
.cardcontainer .card .visual {
  height: 100px;
  width: 100%;
  margin: 0.5rem 0;
}
#profile-pic {
  max-height: 400px;
}
#aboutme {
  display: grid;
  align-items: left;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  background-size: contain;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+2,1+25 */
  padding: 0;
}
@media screen and (min-width: 400px) {
  #aboutme {
    background-image: url("../images/jared-coleson-profile.jpg");
  }
}
#aboutme #aboutme-content {
  text-align: right;
  padding: 2em;
  margin: 0;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 950px) {
  #aboutme #aboutme-content {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 2%, #000000 40%, #000000 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  
  }
}
@media screen and (min-width: 951px) {
  #aboutme #aboutme-content {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 2%, #000000 400px, #000000 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  
  }
}
#aboutme #aboutme-main {
  display: grid;
  align-items: right;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
ul,
li {
  padding-inline-start: 0;
}
.social-icons ul {
  padding-left: 0;
  padding-inline-start: 0;
}
.social-icons li {
  list-style: none;
  padding-left: 0;
  padding-inline-start: 0 !important;
}
.social-icons a {
  color: white;
}
header h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  text-align: center;
}
h1 {
  letter-spacing: -0.025em;
  text-transform: uppercase;
  font-weight: 100;
}
h5 {
  color: #cccccc;
  font-style: italic;
}
.findme {
  line-height: 1.5;
}
.findme li {
  position: relative;
  padding-left: 0;
}
header {
  display: grid;
  grid-template-columns: min-content auto max-content;
  grid-template-areas: "logo nav user";
  gap: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  min-width: 750px;
  vertical-align: middle;
}
header > * {
  align-self: center;
}
header .user {
  justify-self: end;
  grid-area: user;
  display: grid;
}
header .nav {
  justify-content: left;
  grid-area: nav;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 0.5rem;
  place-self: left;
  height: 100%;
  list-style: none;
}
header .nav > li {
  display: inline-block;
}
header .logo {
  grid-area: logo;
}
header a {
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
@media screen and (min-width: 400px) {
  .mobile-only {
    display: none;
  }
}
