header {
  display: grid;
  grid-template-columns: min-content auto max-content;
  grid-template-areas: "logo nav user";
  gap: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  vertical-align: middle;
}
header > * {
  align-self: center;
}
header .user {
  justify-self: end;
  grid-area: user;
  display: grid;
}
header .nav {
  justify-content: left;
  grid-area: nav;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 0.5rem;
  place-self: left;
  height: 100%;
  list-style: none;
}
header .nav > li {
  display: inline-block;
}
header .logo {
  grid-area: logo;
}
header a {
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
