<!DOCTYPE html>
<html lang="en-us">
<head>
    @Html.Partial("_partials/_head")
    @RenderSection("head", required: false)
</head>
<body class="main">
    <main id="page_container" role="main">
        @RenderBody()
    </main>
</body>
</html>